*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo{
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}

p{
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
}

.esquerda{
    background-color: #4936f2;
    border-radius: 3%;
    width: 400px;
    height: 400px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;

}

.resultado{
    background: rgb(74,36,207);
    background: linear-gradient(180deg, rgba(74,36,207,1) 0%, rgba(70,51,237,1) 100%);
    width: 150px;
    height: 150px;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    font-family: 'Hanken Grotesk', sans-serif;
}

.resultado2{
    color: #796cf9;
}

.description{
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

.description2{
    color: #796cf9;
}

.direita{
    display: flex;
    flex-direction: row;
    justify-content: center;
}